education1809/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>｜KDDI まとめてオフィス株式会社</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="｜KDDI まとめてオフィス株式会社">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <link rel="stylesheet" href="./assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <script src="https://bizpages.kddimatomete.com/rs/268-VTQ-569/images/eq-marketo.js"></script>
    <script src="./assets/js/jquery-2.2.4.min.js"></script>
    <script src="./assets/js/jquery.easing.1.3.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/index.js"></script>
    <script src="./assets/js/jquery.localscroll-1.2.7-min.js"></script>
    <script src="./assets/js/jquery.parallax-1.1.3.js"></script>
    <script src="./assets/js/jquery.scrollTo-1.4.2-min.js"></script>
    <script src="./assets/js/parallaxparam.js"></script>
  </head>
  <body>
    <div class="top" id="wrap">
      <header>
        <div class="inner"><a href="https://www.kddimatomete.com/"><img src="./assets/images/header.svg" alt=""></a><a href="#" target="_blank"><img class="pc" src="./assets/images/contact.svg" alt="お問い合わせ"><img class="sp" src="./assets/images/contact_sp.svg" alt="お問い合わせ"></a></div>
      </header>
      <div class="main_img"><img class="pc" src="./assets/images/main_img.jpg" alt=""><img class="sp" src="./assets/images/main_img_sp.jpg" alt=""></div>
      <div class="contents1">
        <div class="inner">
          <h2><img src="./assets/images/copy.svg" alt="大きく変わる教育現場、加速するタブレットの導入"></h2>
          <p class="text">官民一体となっての教育ICT活用基盤整備を推進中<br>2020年の教育改革を控え～、<br>導入部分となるテキストが入ります。導入部分となるテキストが入ります。<br>導入部分となるテキストが入ります。こちらには導入部分となる<br>テキストが入ります。導入部分となるテキストが入ります。</p>
          <p class="image1"><img src="./assets/images/img_contents1_1.png"></p>
          <p class="image2"><img src="./assets/images/img_contents1_2.png"></p>
          <p class="image3"><img src="./assets/images/img_contents1_3.png"></p>
          <p class="image4"><img src="./assets/images/img_contents1_4.png"></p>
          <p class="image5"><img src="./assets/images/img_contents1_5.png"></p>
        </div>
      </div>
      <div class="kadai">
        <h2><img src="./assets/images/title_task.svg" alt="こんな課題にお困りではありませんか?"></h2>
        <p class="text">タブレットは導入したいけど、気になる困り事や悩み事。<br>KDDI まとめてオフィスのサポートで<br class="sp">先生方の持つ課題を解決します。</p>
        <div class="flex">
          <div class="btn1"><a href="#utilize">
              <p class="btn_text"><img src="./assets/images/btn_utilize_text.svg" alt="タブレットをどう活用してよいか分からない"></p>
              <p class="image"><img src="./assets/images/img_btn_utilize.png"></p>
              <p class="arrow"><img src="./assets/images/arrow_bottom_1.svg"></p></a></div>
          <div class="btn2"><a href="#introduction_and_operation">
              <p class="btn_text"><img src="./assets/images/btn2_text.svg" alt="導入や運用の対応が教師だけでは難しい"></p>
              <p class="image"><img src="./assets/images/img_btn_introduction_and_operation.png"></p>
              <p class="arrow"><img src="./assets/images/arrow_bottom_1.svg"></p></a></div>
        </div>
      </div>
      <div id="utilize">
        <h2><img class="pc" src="./assets/images/title_utilize.svg" alt="タブレットをどう活用してよいか分からない"><img class="sp" src="./assets/images/title_utilize_sp.svg" alt="タブレットをどう活用してよいか分からない"></h2>
        <div class="flex">
          <div class="text_box">
            <div class="title">
              <p class="mark"><img src="./assets/images/icon_question_mark.svg" alt="?"></p>
              <h3><img src="./assets/images/subtitle_utilize_1.svg" alt="どうやって授業で使ったらよいのか分からない…"></h3>
            </div>
            <p class="text">こちらにはテキストが入ります。こちらにはテキストが入ります。<br class="pc">こちらにはテキストが入ります。こちらにはテキストが入ります。<br class="pc">こちらにはテキストが入ります。こちらにはテキストが入ります。</p>
          </div>
          <div class="images">
            <p><img src="./assets/images/img_utilize_1.png"></p>
          </div>
        </div>
        <div class="flex">
          <div class="text_box">
            <div class="title">
              <p class="mark"><img src="./assets/images/icon_exclamation_mark.svg" alt="!"></p>
              <h3><img src="./assets/images/subtitle_utilize_2.svg" alt="授業でのタブレットの有効な使い方をご紹介します!"></h3>
            </div>
            <p class="text">こちらにはテキストが入ります。こちらにはテキストが入ります。<br class="pc">こちらにはテキストが入ります。こちらにはテキストが入ります。<br class="pc">こちらにはテキストが入ります。こちらにはテキストが入ります。</p>
          </div>
          <div class="images">
            <p><img src="./assets/images/img_utilize_2.png"></p>
          </div>
        </div>
      </div>
      <div class="application_sample1">
        <div id="parallax1">
          <h2><img class="pc" src="./assets/images/title_application_sample1.svg" alt="活用例 １　確認小テストを効率的に実施"><img class="sp" src="./assets/images/title_application_sample1_sp.svg" alt="活用例 １　確認小テストを効率的に実施"></h2>
        </div>
        <div class="flex">
          <p class="text"><img src="./assets/images/application_sample1_text.svg" alt="授業内容の確認小テストを出したいが、採点・評価に時間がかかってしまうのがつらい"></p>
          <p class="image"><img src="./assets/images/img_application_sample1.png"></p>
        </div>
        <div class="contents">
          <p class="arrow"><img src="./assets/images/arrow_bottom_2.svg"></p>
          <div class="inner">
            <h3><img class="pc" src="./assets/images/subtitle_application_sample1.svg" alt="タブレットで小テストを作成・配信、さらに自動で採点・管理して効率的に実施"><img class="sp" src="./assets/images/subtitle_application_sample1_sp.svg" alt="タブレットで小テストを作成・配信、さらに自動で採点・管理して効率的に実施"></h3>
            <p class="image"><img src="./assets/images/img1.png"></p>
            <p class="bottom_text">タブレットで利用できるアプリを活用することで、空所補充や選択問題などさまざまな小テストを作成・配信ができます。さらに、自動で採点・管理することもできるため、簡単に小テストを実施できるようになります。</p>
          </div>
        </div>
      </div>
      <div class="application_sample2">
        <div id="parallax2">
          <h2><img class="pc" src="./assets/images/title_application_sample2.svg" alt="活用例 2　連絡事項の共有で保護者の不安を解消"><img class="sp" src="./assets/images/title_application_sample2_sp.svg" alt="活用例 2　連絡事項の共有で保護者の不安を解消"></h2>
        </div>
        <div class="flex">
          <p class="text"><img src="./assets/images/application_sample2_text.svg" alt="学校でどんな授業をしているか、先生からはどのような連絡が来ているのかなど、保護者にとって学校は「ブラックボックス」化しやすく、些細な内容でも、心配した保護者から連絡が頻繁に来る"></p>
          <p class="image"><img src="./assets/images/img_application_sample2.png"></p>
        </div>
        <div class="contents">
          <p class="arrow"><img src="./assets/images/arrow_bottom_2.svg"></p>
          <div class="inner">
            <h3><img src="./assets/images/subtitle_application_sample2.svg" alt="タブレットで連絡事項を保護者に共有し、保護者の不安を解消"></h3>
            <p class="image"><img src="./assets/images/img2.png"></p>
            <p class="bottom_text">タブレットで利用できるアプリを活用し、連絡事項などを保護者にも共有することで、保護者の不安を解消します。あわせて、今まで対応していた時間を削減でき、他校務に充てることができます。</p>
          </div>
        </div>
      </div>
      <div class="application_sample3">
        <div id="parallax3">
          <h2><img class="pc" src="./assets/images/title_application_sample3.svg" alt="活用例 3　アプリを活用した自己表現で主体性を育む"><img class="sp" src="./assets/images/title_application_sample3_sp.svg" alt="活用例 3　アプリを活用した自己表現で主体性を育む"></h2>
        </div>
        <div class="flex">
          <p class="text"><img src="./assets/images/application_sample3_text.svg" alt="これからの時代、自ら考え、解決する力を育む必要があるが、主体的に調べ、さらに自分の考えを形にして表現させる方法が分からない"></p>
          <p class="image"><img src="./assets/images/img_application_sample3.png"></p>
        </div>
        <div class="contents">
          <p class="arrow"><img src="./assets/images/arrow_bottom_2.svg"></p>
          <div class="inner">
            <h3><img src="./assets/images/subtitle_application_sample3.svg" alt="多彩なアプリを活用し、さまざまな授業で自己表現が可能に"></h3>
            <p class="image"><img src="./assets/images/img3.png"></p>
            <div class="bottom_text">
              <p>タブレットで利用できるアプリを活用することで、<br>さまざまな授業で主体性を育む自己表現が可能になります。</p>
              <p>例:<br>【国語】 「写真を撮って俳句を書かせる」<br>【数学】 「課題の解説動画を作成させる」<br><span>【社会】 「生徒自身が調べ、みんなで議論。最後に自分の考えをまとめたレポートを作成・発表」</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="application_sample4">
        <div id="parallax4">
          <h2><img class="pc" src="./assets/images/title_application_sample4.svg" alt="活用例 4　生徒の考えを共有して双方向型授業に活用"><img class="sp" src="./assets/images/title_application_sample4_sp.svg" alt="活用例 4　生徒の考えを共有して双方向型授業に活用"></h2>
        </div>
        <div class="first_contents">
          <div class="flex">
            <p class="text"><img src="./assets/images/application_sample4_text.svg" alt="双方向型授業では、生徒と教員、生徒同士が互いの考えを知ることが重要になるが、お互いの考えをスピーディに共有するための手段がない"></p>
            <p class="image"><img src="./assets/images/img_application_sample4.png"></p>
          </div>
          <div class="contents">
            <p class="arrow"><img src="./assets/images/arrow_bottom_2.svg"></p>
            <div class="inner">
              <h3><img src="./assets/images/subtitle_application_sample4.svg" alt="タブレットで連絡事項を保護者に共有し、保護者の不安を解消"></h3>
              <p class="image"><img src="./assets/images/img4.png"></p>
              <p class="bottom_text">タブレットとアプリを応用すれば、生徒全員の考えを電子ホワイトボードに瞬時に表示させてクラスの意見を見える化することができます。双方向型授業がやりやすくなるだけでなく、生徒が授業に臨む姿勢もさらに積極的になり、学習意欲も向上します。</p>
            </div>
          </div>
        </div>
        <div id="introduction_and_operation">
          <h3 class="sub_title"><img src="./assets/images/title_introduction_and_operation.svg" alt="導入や運用の対応が 教師だけでは難しい"></h3>
        </div>
        <div class="second_contents">
          <div class="flex">
            <div class="text_box">
              <div class="title">
                <p class="mark"><img src="./assets/images/icon_question_mark.svg" alt="?"></p>
                <h3><img src="./assets/images/subtitle_application_sample4_1.svg" alt="導入や運用はわからないことが多くて不安…"></h3>
              </div>
              <p class="text">こちらにはテキストが入ります。こちらにはテキストが入ります。<br class="pc">こちらにはテキストが入ります。こちらにはテキストが入ります。<br class="pc">こちらにはテキストが入ります。こちらにはテキストが入ります。</p>
            </div>
            <div class="images">
              <p><img src="./assets/images/img_application_sample4_1.png"></p>
            </div>
          </div>
          <div class="flex">
            <div class="text_box">
              <div class="title">
                <p class="mark"><img src="./assets/images/icon_exclamation_mark.svg" alt="!"></p>
                <h3><img src="./assets/images/subtitle_application_sample4_2.svg" alt="大丈夫! KDDI まとめてオフィスならまとめてサポートします!"></h3>
              </div>
              <p class="text">タブレットの導入前から運用時の管理までKDDI まとめてオフィスが徹底してサポートし、管理者さまのご負担を減らします!</p>
            </div>
            <div class="images">
              <p><img src="./assets/images/img_application_sample4_2.png"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="introduction_preparation">
        <div id="parallax5">
          <h2><img class="pc" src="./assets/images/introduction_preparation.svg" alt="導入準備～運用管理まで 徹底サポート"><img class="sp" src="./assets/images/introduction_preparation_sp.svg" alt="導入準備～運用管理まで 徹底サポート"></h2>
        </div>
        <div class="contents">
          <div class="inner">
            <div class="flow">
              <div class="flex">
                <div class="contents flow_contents1">
                  <h3><img src="./assets/images/title_flow_1.svg" alt="1 選定サポート"></h3>
                  <p class="images"><img src="./assets/images/img_flow_1.svg"></p>
                  <h4><img src="./assets/images/subtitle_flow_1.svg" alt="お客さまに合わせて最適な機種をご提案"></h4>
                  <h5>タブレット機種の選定サポート</h5>
                  <p class="bottom_text">Wi-Fi モデルやセルラーモデル、対応OS など<br class="pc">利用状況に合わせて最適な機種をご提案します。</p>
                </div>
                <div class="contents flow_contents2">
                  <h3><img src="./assets/images/title_flow_2.svg" alt="2 設定サポート"></h3>
                  <p class="images"><img src="./assets/images/img_flow_2.svg"></p>
                  <h4><img src="./assets/images/subtitle_flow_2.svg" alt="導入時の設定作業を代行"></h4>
                  <h5>キッティング作業代行</h5>
                  <p class="bottom_text">お客さまからの指示書に基づき、<br>各種設定作業を実施後にタブレットを発送します。</p>
                </div>
                <div class="contents flow_contents3">
                  <h3><img src="./assets/images/title_flow_3.svg" alt="3 アクセサリ販売"></h3>
                  <p class="images"><img src="./assets/images/img_flow_3.svg"></p>
                  <h4><img src="./assets/images/subtitle_flow_3.svg" alt="必要なものをワンストップでご提供"></h4>
                  <h5>まとめて同時購入</h5>
                  <p class="bottom_text">タブレットケースやタブレット用キーボードなどのアクセサリも同時にご購入いただくことが可能です。</p>
                </div>
                <div class="contents flow_contents4">
                  <h3><img src="./assets/images/title_flow_4.svg" alt="4 導入時の使い方セミナー"></h3>
                  <p class="images"><img src="./assets/images/img_flow_4.svg"></p>
                  <h4><img src="./assets/images/subtitle_flow_4.svg" alt="テキストが入ります テキストが入ります"></h4>
                  <h5>テキストが入ります</h5>
                  <p class="bottom_text">テキストが入ります。テキストが入ります。<br class="pc">テキストが入ります。テキストが入ります。</p>
                </div>
                <div class="contents flow_contents5">
                  <h3><img src="./assets/images/title_flow_5.svg" alt="5 メンテナンスサポート"></h3>
                  <p class="images"><img src="./assets/images/img_flow_5.svg"></p>
                  <h4><img src="./assets/images/subtitle_flow_5.svg" alt="スピーディーな対応で業務への影響を最小限に"></h4>
                  <h5>故障対応・窓口代行</h5>
                  <p class="bottom_text">タブレットが故障した際に、<br class="sp">お客さまの仕様に<br class="pc">設定済みの代替機をご利用先へ即日で手配します。</p>
                </div>
                <div class="contents flow_contents6">
                  <h3><img src="./assets/images/title_flow_6.svg" alt="6 セキュリティサポート"></h3>
                  <p class="images"><img src="./assets/images/img_flow_6.svg"></p>
                  <h4><img src="./assets/images/subtitle_flow_6.svg" alt="KDDI サポートデスクが24時間365日対応"></h4>
                  <h5>紛失・盗難時の遠隔データ削除代行</h5>
                  <p class="bottom_text">タブレットの紛失・盗難の際に、管理者さまに代わって「遠隔データ削除」を代行します。</p>
                </div>
                <div class="contents flow_contents7 sp">
                  <h3><img src="./assets/images/title_flow_7.svg" alt="7 導入後フォロー研修"></h3>
                  <p class="images"><img src="./assets/images/img_flow_7_sp.svg"></p>
                  <h4><img src="./assets/images/subtitle_flow_7.svg" alt="KDDI サポートデスクが24時間365日対応"></h4>
                  <h5>テキストが入ります</h5>
                  <p class="bottom_text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                </div>
              </div>
              <div class="bottom_contents pc">
                <p class="images"><img src="./assets/images/img_flow_7.svg"></p>
                <div class="right_contents">
                  <h3><img src="./assets/images/title_flow_7.svg" alt="7 導入後フォロー研修"></h3>
                  <h4><img src="./assets/images/subtitle_flow_7.svg" alt="テキストが入ります テキストが入ります"></h4>
                  <h5>テキストが入ります</h5>
                  <p class="bottom_text">テキストが入ります。テキストが入ります。<br>テキストが入ります。テキストが入ります。</p>
                </div>
              </div>
            </div>
            <p class="notice">※各種メニューは有料サービスとなります。</p>
          </div>
        </div>
      </div>
      <div class="case_study">
        <h2><img src="./assets/images/title_case_study.svg" alt="導入事例"></h2>
        <div class="box">
          <h3>工学院大学附属中学校・高等学校</h3>
          <p>タブレットを授業にフル活用し、<br class="sp">生徒が主体的に学ぶ双方向型授業を実現</p>
        </div>
        <div class="video">
          <div class="inner">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Rk2AZJ10lBg?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="inner">
          <p class="image"><img src="./assets/images/img_contact.png"></p>
          <div class="right_contents">
            <p class="text">サービス内容の詳しいご説明、<br>お見積もり、お申し込みなど、<br class="sp">お気軽にご相談ください。</p>
            <p class="btn_contact"><a href="#" target="_blank"><img src="./assets/images/contact2.svg" alt="お問い合わせ"></a></p>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="nav">
          <div class="inner">
            <ul>
              <li><a href="https://www.kddimatomete.com/corporate/outline/" target="_blank">会社概要</a></li>
              <li><a href="https://www.kddimatomete.com/privacypolicy/" target="_blank">プライバシーポリシー</a></li>
            </ul>
            <p><span>KDDI まとめてオフィス株式会社</span><br>東京都渋谷区代々木3-22-7 新宿文化クイントビル</p>
          </div>
        </div>
        <p class="copyright">Copyright © KDDI まとめてオフィス株式会社, All Rights Reserved.</p>
      </div>
      <div class="pagetop">
        <div class="inner"><a href="#"><img src="./assets/images/pagetop.svg" alt="ページトップへ"></a></div>
      </div>
    </div>
    <!-- body-wrapper -->
    <!-- GA -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
      Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-50406329-1', 'auto', {'allowLinker': true});
      ga('require', 'linker');
      ga('linker:autoLink', ['kddimatomete.com','bizpages.kddi.com'] );
      ga('send', 'pageview');
    </script>
    <!-- GA -->
    <!-- Yahoo -->
    <script type="text/javascript">
      (function () {
      var tagjs = document.createElement("script");
      var s = document.getElementsByTagName("script")[0];
      tagjs.async = true;
      tagjs.src = "//s.yjtag.jp/tag.js#site=T9hIItP";
      s.parentNode.insertBefore(tagjs, s);
      }());
    </script>
    <!-- Yahoo -->
    <!-- Segment Pixel - RTGタグ【MASTER2】 - DO NOT MODIFY -->
    <script src="//i.socdm.com/s/so_sg.js?sgid=48747" type="text/javascript"></script>
    <!-- End of Segment Pixel -->
    <!-- SiteCatalyst start -->
    <div id="scimage" style="visibility: hidden;z-index:2;position:absolute;top:-100px;left:-100px;">
      <script type="text/javascript" src="//www.kddi.com/common/js/s_code_kddi.js"></script>
      <script type="text/javascript">
        //<![CDATA[
        s.pageName="";
        s.channel="";
        s.prop6="";
        s.prop7="";
        s.prop13="";
        /*custom*/
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code=s.t();if(s_code)document.write(s_code)
        //]]>
      </script>
      <script type="text/javascript">
        //<![CDATA[
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\\!-'+'-')
        //]]>
      </script>
    </div>
    <!-- SiteCatalyst end -->
    <script type="text/javascript">
      // Munchkin code add 20150811
      $.ajax({
      url: '//munchkin.marketo.net/munchkin.js',
      dataType: 'script',
      cache: true,
      success: function() {
      Munchkin.init('268-VTQ-569');
      }
      });
    </script>
  </body>
</html>

education1809/assets/pug/index.pug
- var siteClientName = 'KDDI まとめてオフィス株式会社'
- var pageTitle = ''
- var descriptionText = ''
- var productionUrl = ''
- var imgPath = './assets/images/'
- var cssPath = './assets/css/'
- var jsPath = './assets/js/'
- var arrayParallax = ['jquery.localscroll-1.2.7-min.js', 'jquery.parallax-1.1.3.js', 'jquery.scrollTo-1.4.2-min.js', 'parallaxparam.js']
doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title #{pageTitle}｜#{siteClientName}
    meta(name='keywords', content='')
    meta(name='description', content=descriptionText)
    meta(property='og:type', content='website')
    meta(property='og:url', content=productionUrl)
    meta(property='og:title', content=pageTitle + '｜' +siteClientName)
    meta(property='og:description', content=descriptionText)
    meta(property='og:image', content=productionUrl)
    link(rel='stylesheet', href=cssPath + 'bootstrap-reboot.css')
    link(rel='stylesheet', href=cssPath + 'base.css')
    script(src='https://bizpages.kddimatomete.com/rs/268-VTQ-569/images/eq-marketo.js')
    script(src=jsPath + 'jquery-2.2.4.min.js')
    script(src=jsPath + 'jquery.easing.1.3.js')
    script(src=jsPath + 'wow.min.js')
    script(src=jsPath + 'index.js')
    //- パララックス
    each item in arrayParallax
      script(src=jsPath + item)
  body
    #wrap.top
      //- ヘッダー
      header
        .inner
          a(href='https://www.kddimatomete.com/')
            img(src=imgPath + 'header.svg', alt='')
          a(href='#', target='_blank')
            img.pc(src=imgPath + 'contact.svg', alt='お問い合わせ')
            img.sp(src=imgPath + 'contact_sp.svg', alt='お問い合わせ')
      //- メインビジュアル
      .main_img
        img.pc(src=imgPath + 'main_img.jpg', alt='')
        img.sp(src=imgPath + 'main_img_sp.jpg', alt='')
      //- コンテンツ1
      .contents1
        .inner
          h2
            img(src=imgPath + 'copy.svg', alt='大きく変わる教育現場、加速するタブレットの導入')
          p.text
            | 官民一体となっての教育ICT活用基盤整備を推進中
            br
            | 2020年の教育改革を控え～、
            br
            | 導入部分となるテキストが入ります。導入部分となるテキストが入ります。
            br
            | 導入部分となるテキストが入ります。こちらには導入部分となる
            br
            | テキストが入ります。導入部分となるテキストが入ります。
          - for (var i = 0; i < 5; i++)
          - for (var j = 1; j < 6; j++)
            - var className = "image" + j
              p(class=className)
                img(src=imgPath + 'img_contents1_' + j + '.png')
      //- 課題
      .kadai
        h2
          img(src=imgPath + 'title_task.svg', alt='こんな課題にお困りではありませんか?')
        p.text
          | タブレットは導入したいけど、気になる困り事や悩み事。
          br
          | KDDI まとめてオフィスのサポートで
          br.sp
          | 先生方の持つ課題を解決します。
        .flex
          .btn1
            a(href='#utilize')
              p.btn_text
                img(src=imgPath + 'btn_utilize_text.svg', alt='タブレットをどう活用してよいか分からない')
              p.image
                img(src=imgPath + 'img_btn_utilize.png')
              p.arrow
                img(src=imgPath + 'arrow_bottom_1.svg')
          .btn2
            a(href='#introduction_and_operation')
              p.btn_text
                img(src=imgPath + 'btn2_text.svg', alt='導入や運用の対応が教師だけでは難しい')
              p.image
                img(src=imgPath + 'img_btn_introduction_and_operation.png')
              p.arrow
                img(src=imgPath + 'arrow_bottom_1.svg')
      //- タブレットの活用
      #utilize
        h2
          img.pc(src=imgPath + 'title_utilize.svg', alt='タブレットをどう活用してよいか分からない')
          img.sp(src=imgPath + 'title_utilize_sp.svg', alt='タブレットをどう活用してよいか分からない')
        .flex
          .text_box
            .title
              p.mark
                img(src=imgPath + 'icon_question_mark.svg', alt='?')
              h3
                img(src=imgPath + 'subtitle_utilize_1.svg', alt='どうやって授業で使ったらよいのか分からない…')
            p.text
              | こちらにはテキストが入ります。こちらにはテキストが入ります。
              br.pc
              | こちらにはテキストが入ります。こちらにはテキストが入ります。
              br.pc
              | こちらにはテキストが入ります。こちらにはテキストが入ります。
          .images
            p
              img(src=imgPath + 'img_utilize_1.png')
        .flex
          .text_box
            .title
              p.mark
                img(src=imgPath + 'icon_exclamation_mark.svg', alt='!')
              h3
                img(src=imgPath + 'subtitle_utilize_2.svg', alt='授業でのタブレットの有効な使い方をご紹介します!')
            p.text
              | こちらにはテキストが入ります。こちらにはテキストが入ります。
              br.pc
              | こちらにはテキストが入ります。こちらにはテキストが入ります。
              br.pc
              | こちらにはテキストが入ります。こちらにはテキストが入ります。
          .images
            p
              img(src=imgPath + 'img_utilize_2.png')
      //- 活用例1
      .application_sample1
        #parallax1
          h2
            img.pc(src=imgPath + 'title_application_sample1.svg', alt='活用例 １　確認小テストを効率的に実施')
            img.sp(src=imgPath + 'title_application_sample1_sp.svg', alt='活用例 １　確認小テストを効率的に実施')
        .flex
          p.text
            img(src=imgPath + 'application_sample1_text.svg', alt='授業内容の確認小テストを出したいが、採点・評価に時間がかかってしまうのがつらい')
          p.image
            img(src=imgPath + 'img_application_sample1.png')
        .contents
          p.arrow
            img(src=imgPath + 'arrow_bottom_2.svg')
          .inner
            h3
              img.pc(src=imgPath + 'subtitle_application_sample1.svg', alt='タブレットで小テストを作成・配信、さらに自動で採点・管理して効率的に実施')
              img.sp(src=imgPath + 'subtitle_application_sample1_sp.svg', alt='タブレットで小テストを作成・配信、さらに自動で採点・管理して効率的に実施')
            p.image
              img(src=imgPath + 'img1.png')
            p.bottom_text タブレットで利用できるアプリを活用することで、空所補充や選択問題などさまざまな小テストを作成・配信ができます。さらに、自動で採点・管理することもできるため、簡単に小テストを実施できるようになります。
      //- 活用例2
      .application_sample2
        #parallax2
          h2
            img.pc(src=imgPath + 'title_application_sample2.svg', alt='活用例 2　連絡事項の共有で保護者の不安を解消')
            img.sp(src=imgPath + 'title_application_sample2_sp.svg', alt='活用例 2　連絡事項の共有で保護者の不安を解消')
        .flex
          p.text
            img(src=imgPath + 'application_sample2_text.svg', alt='学校でどんな授業をしているか、先生からはどのような連絡が来ているのかなど、保護者にとって学校は「ブラックボックス」化しやすく、些細な内容でも、心配した保護者から連絡が頻繁に来る')
          p.image
            img(src=imgPath + 'img_application_sample2.png')
        .contents
          p.arrow
            img(src=imgPath + 'arrow_bottom_2.svg')
          .inner
            h3
              img(src=imgPath + 'subtitle_application_sample2.svg', alt='タブレットで連絡事項を保護者に共有し、保護者の不安を解消')
            p.image
              img(src=imgPath + 'img2.png')
            p.bottom_text タブレットで利用できるアプリを活用し、連絡事項などを保護者にも共有することで、保護者の不安を解消します。あわせて、今まで対応していた時間を削減でき、他校務に充てることができます。
      //- 活用例3
      .application_sample3
        #parallax3
          h2
            img.pc(src=imgPath + 'title_application_sample3.svg', alt='活用例 3　アプリを活用した自己表現で主体性を育む')
            img.sp(src=imgPath + 'title_application_sample3_sp.svg', alt='活用例 3　アプリを活用した自己表現で主体性を育む')
        .flex
          p.text
            img(src=imgPath + 'application_sample3_text.svg', alt='これからの時代、自ら考え、解決する力を育む必要があるが、主体的に調べ、さらに自分の考えを形にして表現させる方法が分からない')
          p.image
            img(src=imgPath + 'img_application_sample3.png')
        .contents
          p.arrow
            img(src=imgPath + 'arrow_bottom_2.svg')
          .inner
            h3
              img(src=imgPath + 'subtitle_application_sample3.svg', alt='多彩なアプリを活用し、さまざまな授業で自己表現が可能に')
            p.image
              img(src=imgPath + 'img3.png')
            .bottom_text
              p
                | タブレットで利用できるアプリを活用することで、
                br
                | さまざまな授業で主体性を育む自己表現が可能になります。
              p
                | 例:
                br
                | 【国語】 「写真を撮って俳句を書かせる」
                br
                | 【数学】 「課題の解説動画を作成させる」
                br
                span 【社会】 「生徒自身が調べ、みんなで議論。最後に自分の考えをまとめたレポートを作成・発表」
      //- 活用例4
      .application_sample4
        #parallax4
          h2
            img.pc(src=imgPath + 'title_application_sample4.svg', alt='活用例 4　生徒の考えを共有して双方向型授業に活用')
            img.sp(src=imgPath + 'title_application_sample4_sp.svg', alt='活用例 4　生徒の考えを共有して双方向型授業に活用')
        .first_contents
          .flex
            p.text
              img(src=imgPath + 'application_sample4_text.svg', alt='双方向型授業では、生徒と教員、生徒同士が互いの考えを知ることが重要になるが、お互いの考えをスピーディに共有するための手段がない')
            p.image
              img(src=imgPath + 'img_application_sample4.png')
          .contents
            p.arrow
              img(src=imgPath + 'arrow_bottom_2.svg')
            .inner
              h3
                img(src=imgPath + 'subtitle_application_sample4.svg', alt='タブレットで連絡事項を保護者に共有し、保護者の不安を解消')
              p.image
                img(src=imgPath + 'img4.png')
              p.bottom_text タブレットとアプリを応用すれば、生徒全員の考えを電子ホワイトボードに瞬時に表示させてクラスの意見を見える化することができます。双方向型授業がやりやすくなるだけでなく、生徒が授業に臨む姿勢もさらに積極的になり、学習意欲も向上します。
        #introduction_and_operation
          h3.sub_title
            img(src=imgPath + 'title_introduction_and_operation.svg', alt='導入や運用の対応が 教師だけでは難しい')
        .second_contents
          .flex
            .text_box
              .title
                p.mark
                  img(src=imgPath + 'icon_question_mark.svg', alt='?')
                h3
                  img(src=imgPath + 'subtitle_application_sample4_1.svg', alt='導入や運用はわからないことが多くて不安…')
              p.text
                | こちらにはテキストが入ります。こちらにはテキストが入ります。
                br.pc
                | こちらにはテキストが入ります。こちらにはテキストが入ります。
                br.pc
                | こちらにはテキストが入ります。こちらにはテキストが入ります。
            .images
              p
                img(src=imgPath + 'img_application_sample4_1.png')
          .flex
            .text_box
              .title
                p.mark
                  img(src=imgPath + 'icon_exclamation_mark.svg', alt='!')
                h3
                  img(src=imgPath + 'subtitle_application_sample4_2.svg', alt='大丈夫! KDDI まとめてオフィスならまとめてサポートします!')
              p.text タブレットの導入前から運用時の管理までKDDI まとめてオフィスが徹底してサポートし、管理者さまのご負担を減らします!
            .images
              p
                img(src=imgPath + 'img_application_sample4_2.png')
      //- 導入準備
      .introduction_preparation
        #parallax5
          h2
            img.pc(src=imgPath + 'introduction_preparation.svg', alt='導入準備～運用管理まで 徹底サポート')
            img.sp(src=imgPath + 'introduction_preparation_sp.svg', alt='導入準備～運用管理まで 徹底サポート')
        .contents
          .inner
            .flow
              .flex
                .contents.flow_contents1
                  h3
                    img(src=imgPath + 'title_flow_1.svg', alt='1 選定サポート')
                  p.images
                    img(src=imgPath + 'img_flow_1.svg')
                  h4
                    img(src=imgPath + 'subtitle_flow_1.svg', alt='お客さまに合わせて最適な機種をご提案')
                  h5 タブレット機種の選定サポート
                  p.bottom_text
                    | Wi-Fi モデルやセルラーモデル、対応OS など
                    br.pc
                    | 利用状況に合わせて最適な機種をご提案します。
                .contents.flow_contents2
                  h3
                    img(src=imgPath + 'title_flow_2.svg', alt='2 設定サポート')
                  p.images
                    img(src=imgPath + 'img_flow_2.svg')
                  h4
                    img(src=imgPath + 'subtitle_flow_2.svg', alt='導入時の設定作業を代行')
                  h5 キッティング作業代行
                  p.bottom_text
                    | お客さまからの指示書に基づき、
                    br
                    | 各種設定作業を実施後にタブレットを発送します。
                .contents.flow_contents3
                  h3
                    img(src=imgPath + 'title_flow_3.svg', alt='3 アクセサリ販売')
                  p.images
                    img(src=imgPath + 'img_flow_3.svg')
                  h4
                    img(src=imgPath + 'subtitle_flow_3.svg', alt='必要なものをワンストップでご提供')
                  h5 まとめて同時購入
                  p.bottom_text タブレットケースやタブレット用キーボードなどのアクセサリも同時にご購入いただくことが可能です。
                .contents.flow_contents4
                  h3
                    img(src=imgPath + 'title_flow_4.svg', alt='4 導入時の使い方セミナー')
                  p.images
                    img(src=imgPath + 'img_flow_4.svg')
                  h4
                    img(src=imgPath + 'subtitle_flow_4.svg', alt='テキストが入ります テキストが入ります')
                  h5 テキストが入ります
                  p.bottom_text
                    | テキストが入ります。テキストが入ります。
                    br.pc
                    | テキストが入ります。テキストが入ります。
                .contents.flow_contents5
                  h3
                    img(src=imgPath + 'title_flow_5.svg', alt='5 メンテナンスサポート')
                  p.images
                    img(src=imgPath + 'img_flow_5.svg')
                  h4
                    img(src=imgPath + 'subtitle_flow_5.svg', alt='スピーディーな対応で業務への影響を最小限に')
                  h5 故障対応・窓口代行
                  p.bottom_text
                    | タブレットが故障した際に、
                    br.sp
                    | お客さまの仕様に
                    br.pc
                    | 設定済みの代替機をご利用先へ即日で手配します。
                .contents.flow_contents6
                  h3
                    img(src=imgPath + 'title_flow_6.svg', alt='6 セキュリティサポート')
                  p.images
                    img(src=imgPath + 'img_flow_6.svg')
                  h4
                    img(src=imgPath + 'subtitle_flow_6.svg', alt='KDDI サポートデスクが24時間365日対応')
                  h5 紛失・盗難時の遠隔データ削除代行
                  p.bottom_text タブレットの紛失・盗難の際に、管理者さまに代わって「遠隔データ削除」を代行します。
                .contents.flow_contents7.sp
                  h3
                    img(src=imgPath + 'title_flow_7.svg', alt='7 導入後フォロー研修')
                  p.images
                    img(src=imgPath + 'img_flow_7_sp.svg')
                  h4
                    img(src=imgPath + 'subtitle_flow_7.svg', alt='KDDI サポートデスクが24時間365日対応')
                  h5 テキストが入ります
                  p.bottom_text テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
              .bottom_contents.pc
                p.images
                  img(src=imgPath + 'img_flow_7.svg')
                .right_contents
                  h3
                    img(src=imgPath + 'title_flow_7.svg', alt='7 導入後フォロー研修')
                  h4
                    img(src=imgPath + 'subtitle_flow_7.svg', alt='テキストが入ります テキストが入ります')
                  h5 テキストが入ります
                  p.bottom_text
                    | テキストが入ります。テキストが入ります。
                    br
                    | テキストが入ります。テキストが入ります。
            p.notice ※各種メニューは有料サービスとなります。
      //- 導入事例
      .case_study
        h2
          img(src=imgPath + 'title_case_study.svg', alt='導入事例')
        .box
          h3 工学院大学附属中学校・高等学校
          p
            | タブレットを授業にフル活用し、
            br.sp
            | 生徒が主体的に学ぶ双方向型授業を実現
        .video
          .inner
            iframe(width='560', height='315', src='https://www.youtube.com/embed/Rk2AZJ10lBg?rel=0&showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
      //- 問い合わせ
      .contact
        .inner
          p.image
            img(src=imgPath + 'img_contact.png')
          .right_contents
            p.text
              | サービス内容の詳しいご説明、
              br
              | お見積もり、お申し込みなど、
              br.sp
              | お気軽にご相談ください。
            p.btn_contact
              a(href='#', target='_blank')
                img(src=imgPath + 'contact2.svg', alt='お問い合わせ')
      //- フッター
      .footer
        .nav
          .inner
            ul
              li
                a(href='https://www.kddimatomete.com/corporate/outline/', target='_blank') 会社概要
              li
                a(href='https://www.kddimatomete.com/privacypolicy/', target='_blank') プライバシーポリシー
            p
              span KDDI まとめてオフィス株式会社
              br
              | 東京都渋谷区代々木3-22-7 新宿文化クイントビル
        p.copyright Copyright © KDDI まとめてオフィス株式会社, All Rights Reserved.
      //- ページトップ
      .pagetop
        .inner
          a(href='#')
            img(src=imgPath + 'pagetop.svg', alt='ページトップへ')
    // body-wrapper 
    include _script_tag.pug
